{% set page = 'about' %}
{% set og_title = 'About - James Kenneth Guidaven' %}
{% set og_description = '15+ years building software across 7 companies. From self-checkout systems at NCR to the WordPress ecosystem at Automattic.' %}
{% set og_image = 'about.jpg' %}
{% set og_url = '/about' %}
{% extends "layout.njk" %}

{% block head %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %}

{% block content %}
{% include "partial/about-introduction.njk" %}
{% include "partial/about-timeline.njk" %}

{% endblock %}
