{% set page = 'home' %}
{% set og_title = 'James Kenneth Guidaven - Software Engineer' %}
{% set og_description = 'Frontend-focused software engineer with 15+ years of experience. Currently at Automattic, building products that power the web.' %}
{% set og_image = 'hero-banner.jpg' %}
{% set og_url = '/' %}
{% extends "layout.njk" %}

{% block head %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %}

{% block content %}

{% include "partial/banner.njk" %}
{% include "partial/introduction.njk" %}
{% include "partial/experience.njk" %}
{% include "partial/learn-more.njk" %}

{% endblock %}
