<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">

    <meta name="google-site-verification" content="AsC9RBLM1dftaRXrUug8RcZxH-6xijC0QEsDME3XxGg" />
    <meta name="title" content="James Kenneth A. Guidaven's personal github page">
    <meta name="Description" content="Information about James Kenneth Guidaven Full-stack Developer professional background">
    <meta name="author" content="James Kenneth Guidaven">

    <meta property="og:title" content="James Kenneth Guidaven's personal github page" />
    <meta property="og:description" content="Information about James Kenneth Guidaven Full-stack Developer professional background" />
    <meta property="og:image" content="https://jkguidaven.github.io/assets/images/hero.jpg" />
    <meta property="og:url" content="https://jkguidaven.github.io" />


    <title>James Kenneth A. Guidaven {{ ("'s " + page) if page }}</title>

    <link rel="preconnect" href="https://firebaseinstallations.googleapis.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://firebaseremoteconfig.googleapis.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;900&display=swap"
      rel="preload" onload="this.rel='stylesheet'" as="style"
    >

    <script async src="https://use.fontawesome.com/29e1103c35.js"></script>
    <script defer src="/js/bundle.js"></script>

    <script>
      !function(n,e){var t,o,i,c=[],f={passive:!0,capture:!0},r=new Date,a="pointerup",u="pointercancel";function p(n,c){t||(t=c,o=n,i=new Date,w(e),s())}function s(){o>=0&&o<i-r&&(c.forEach(function(n){n(o,t)}),c=[])}function l(t){if(t.cancelable){var o=(t.timeStamp>1e12?new Date:performance.now())-t.timeStamp;"pointerdown"==t.type?function(t,o){function i(){p(t,o),r()}function c(){r()}function r(){e(a,i,f),e(u,c,f)}n(a,i,f),n(u,c,f)}(o,t):p(o,t)}}function w(n){["click","mousedown","keydown","touchstart","pointerdown"].forEach(function(e){n(e,l,f)})}w(n),self.perfMetrics=self.perfMetrics||{},self.perfMetrics.onFirstInputDelay=function(n){c.push(n),s()}}(addEventListener,removeEventListener);
    </script>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% include "partial/top-navigation.njk" %}

    {% block content %} {% endblock %}

    {% include "partial/footer.njk" %}

    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-performance.js"></script>
  </body>
  <script>
    firebase.initializeApp({
      apiKey: "{{ GOOGLE_API_KEY }}",
      authDomain: "jkguidaven-github-io.firebaseapp.com",
      databaseURL: "https://jkguidaven-github-io.firebaseio.com",
      projectId: "jkguidaven-github-io",
      storageBucket: "jkguidaven-github-io.appspot.com",
      messagingSenderId: "853423073908",
      appId: "1:853423073908:web:b67ff5e39039201b74ff21",
      measurementId: "G-8GBVEEWY94"
    });
    firebase.analytics();
    firebase.performance();
  </script>
</html>
