{% set page = 'works' %}
{% set og_title = 'Works - James Kenneth Guidaven' %}
{% set og_description = 'Open source projects and GitHub repositories by James Kenneth Guidaven.' %}
{% set og_image = 'hero-banner.jpg' %}
{% set og_url = '/works/' %}
{% extends "layout.njk" %}

{% block head %}
<!-- inject:css -->
<!-- endinject -->
<script defer src="/js/works.js"></script>
{% endblock %}

{% block content %}
{% include 'partial/works-intro.njk' %}
{% include 'partial/work-github-repository.njk' %}

{% endblock %}
