<main class="timeline-section" id="experience">
  <h2 class="section-title">Work Experience & Education</h2>

  <div class="timeline">
    <div class="line">
      {% for record in timeline -%}
        <div class="record fade-up">
          <span class="marker">
            <i class="fa fa-{{ record.icon }}"></i>
          </span>

          <span class="entry-time">{{ record.time }}</span>

          <br>

          <strong class="title">{{ record.title }}</strong>
          <span class="subtitle">, {{ record.subtitle }}</span>

          <ul>
            {% for item in record.items -%}
              <li>{{ item }}</li>
            {%- endfor %}
          </ul>
        </div>
      {%- endfor %}
    </div>
  </div>
</main>
