<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
            <div class="avatar">
                <img
                src="assets/images/hero.jpg"
                alt="James Kenneth Profile">
                    
                <div class="newlogic-badge">
                    <img
                        src="assets/images/companies/mini-newlogic.png"
                        alt="Newlogic Logo - James Kenneth current Employer"
                    />
                </div>
            </div>

    
            <strong class="subtitle is-2 is-spaced greetings">
                Hi! I'm <strong class="has-text-weight-black">James Kenneth,</strong> nice to meet you
            </strong>

            <p class="subtitle is-4">
                I am a passionate Software engineer who enjoys building fast and high quality web
                applications
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
