<section class="section skillset">
  {% include "partial/experience-skillset.njk" %}
</section>

<div class="statement-strip fade-up">
  <span class="statement-number">7</span>&nbsp;teams.
  <span class="statement-number">15+</span>&nbsp;years.
  <span class="statement-highlight">Still shipping.</span>
</div>

<section class="section companies-wrap">
  {% include "partial/experience-companies.njk" %}
</section>
