<footer class="footer has-text-centered has-text-white has-background-black-ter">
  <div class="container">

    <p class="contact-list">
        <label class="title is-4 has-text-white" for="contact-links">
            I can be reach through my social media accounts or email
        </label>

        <ul id="contact-links" class="contact-links">
          <li>
            <a
              class="button contact github"
              href="https://github.com/jkguidaven"
              rel="noreferrer"
              target="_blank"
              aria-label="My Github account"
              role="link"
            >
                <span class="icon is-large">
                    <i class="fa fa-1x fa-github"></i>
                </span>
            </a>
          </li>

          <li>
            <a
              class="button contact facebook"
              href="https://www.facebook.com/jameskenneth.guidaven"
              rel="noreferrer"
              target="_blank"
              aria-label="My Facebook account"
              role="link"
            >
                <span class="icon is-large">
                    <i class="fa fa-facebook"></i>
                </span>
            </a>
          </li>

          <li>
            <a
              class="button contact linkedin"
              href="https://ph.linkedin.com/in/james-kenneth-guidaven-4b6699148"
              rel="noreferrer"
              target="_blank"
              aria-label="My LinkedIn account"
              role="link"
            >
                <span class="icon is-large">
                    <i class="fa fa-linkedin"></i>
                </span>
            </a>
          </li>
          
          <li>
            <a
              class="button contact instagram"
              href="https://www.instagram.com/frazen001"
              rel="noreferrer"
              target="_blank"
              aria-label="My instagram account"
              role="link"
            >
                <span class="icon is-large">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
          </li>

          <li>
            <a
              class="button contact gmail"
              href="mailto:jkguidaven@gmail.com"
              rel="noreferrer"
              target="_blank"
              aria-label="My gmail account"
              role="link"
            >
                <span class="icon is-large">
                    <i class="fa fa-envelope"></i>
                </span>
            </a>
          </li>
        </ul>
    </p>

    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <p>
          <strong class="has-text-weight-semibold has-text-white-ter">
            Built by James Kenneth Guidaven
          </strong>
        </p>
        <p style="margin-top: 1rem;">
          Using
          <a class="has-text-weight-bold has-text-white" href="https://bulma.io">
            Bulma
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
