<footer class="site-footer has-text-centered">
  <div class="container">
    <ul class="footer-links">
      <li>
        <a href="https://github.com/jkguidaven" rel="noreferrer" target="_blank" aria-label="GitHub">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://ph.linkedin.com/in/james-kenneth-guidaven-4b6699148" rel="noreferrer" target="_blank" aria-label="LinkedIn">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:jkguidaven@gmail.com" aria-label="Email">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
    </ul>

    <p class="footer-credit">James Kenneth Guidaven</p>
  </div>
</footer>
