<footer class="footer has-text-centered has-text-white">
  <div class="container">
    <p>
      <label class="title is-5 has-text-white">
        Get in touch
      </label>

      <ul class="contact-links">
        <li>
          <a class="button contact" href="https://github.com/jkguidaven"
            rel="noreferrer" target="_blank" aria-label="GitHub">
            <span class="icon is-large"><i class="fa fa-1x fa-github"></i></span>
          </a>
        </li>
        <li>
          <a class="button contact" href="https://ph.linkedin.com/in/james-kenneth-guidaven-4b6699148"
            rel="noreferrer" target="_blank" aria-label="LinkedIn">
            <span class="icon is-large"><i class="fa fa-linkedin"></i></span>
          </a>
        </li>
        <li>
          <a class="button contact" href="mailto:jkguidaven@gmail.com"
            aria-label="Email">
            <span class="icon is-large"><i class="fa fa-envelope"></i></span>
          </a>
        </li>
      </ul>
    </p>
  </div>
</footer>
