<section class="section about has-background-primary has-text-white">
  <div class="container">
    <div class="subtitle is-2 has-text-centered has-text-white">
        Full-Stack Developer since 2011
    </div>

    <div class="columns is-centered">
      <div class="column is-three-fifths">
        
        <p class="has-text-centered">
            Experienced Full-Stack Developer with demonstrated history of
            working in the information technology and services industry. Skilled
            in javascript, HTML/CSS, PHP, Java, C# and other web technologies.
            Strong engineering professional with a Bachelor's degree focused in
            Information Technology from <strong class="has-text-white">Cebu, Philippines.</strong>
        </p>
      </div>
    </div>
  </div>
</section>
