<section class="section learn-more has-background-white">
  <a
    class="learn-more-button"
    aria-label="To learn about my experience"
    href="/about#experience"
    role="button"
  >
    Click here to learn more about my work experience 

    <span class="icon is-large">
        <i class="fa fa-external-link"></i>
    </span>
  </a>
</section>
