{% macro menuItem(current, page, link, label) %}
<a
  class="button is-light {{ 'active' if current === page }}"
  href="{{ link }}"
>
  {{ label }}
</a>
{% endmacro %}


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navigation-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navigation-menu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{ menuItem(page, 'home', '/', 'Home') }}
          {{ menuItem(page, 'about', '/about', 'About') }}
          {{ menuItem(page, 'work', '/works', 'Works') }}
          {{ menuItem(page, 'blogs', '/blogs', 'Blogs') }}
        </div>
      </div>
    </div>
  </div>
</nav>
