<main class="section under-construction has-text-centered is-vcentered">
  <strong>
    This page is under construction
  </strong>

  <span class="description">
    I am still trying to build this part of the website
  </span>

  <img src="/assets/images/under-construction.svg" alt="stop sign" />
</main>
