<main class="section projects">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <strong class="header">
        Projects
      </strong>

      <span class="subtitle">I am still trying to build this part of the page..</span> 
    </div>
  </div>
</main>
